<p id="notice"><%= notice %></p>

<h1>Virtualmachines</h1>

<table>
  <thead>
    <tr>
      <th>Datacenter</th>
      <th>Price</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @virtualmachines.each do |virtualmachine| %>
      <tr>
        <td><%= virtualmachine.datacenter %></td>
        <td><%= virtualmachine.price %></td>
        <td><%= virtualmachine.description %></td>
        <td><%= link_to 'Show', virtualmachine %></td>
        <td><%= link_to 'Edit', edit_virtualmachine_path(virtualmachine) %></td>
        <td><%= link_to 'Destroy', virtualmachine, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Virtualmachine', new_virtualmachine_path %>
