<p id="notice"><%= notice %></p>

<p>
  <strong>Datacenter:</strong>
  <%= @virtualmachine.datacenter %>
</p>

<p>
  <strong>Price:</strong>
  <%= @virtualmachine.price %>
</p>

<p>
  <strong>Description:</strong>
  <%= @virtualmachine.description %>
</p>

<%= link_to 'Edit', edit_virtualmachine_path(@virtualmachine) %> |
<%= link_to 'Back', virtualmachines_path %>
