<%= simple_form_for(@image.present? ? [@order.image, @order] : @order) do |f| %>
  <%= f.error_notification %>
  <div class="form-inputs">
    <%= f.input :hostname %>
    <%= f.input :domain %>
    <%= f.input :location, collection: [1555995] %>
    <%= f.input :usehourlypricing %>
    <%= f.input :cpu, collection: @cpu_core %>
    <%= f.input :ram, collection: @ram %>
    <%= f.input :first_disk, collection: @first_disk %>
    <%= f.input :second_disk, collection: @second_disk %>
    <%= f.input :uplink_port_speed, collection: @uplink_port_speed %>
    <%= f.input :monitoring, collection: @monitoring %>
    <%= f.input :response, collection: @response %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
