<%= simple_form_for(@image.present? ? [@order.image, @order] : @order) do |f| %>
  <%= f.error_notification %>
  <div class="form-inputs">
    <%= f.input :hostname %>
    <%= f.input :domain %>
    <%= f.input :location, collection: @location %>
    <%= f.input :usehourlypricing %>
    <%= f.input :cpu, collection: @cpu_core %>
    <%= f.input :ram, collection: @ram %>
    <%= f.input :first_disk, collection: @first_disk %>
    <%= f.input :second_disk, collection: @second_disk %>
    <%= f.input :uplink_port_speed, collection: @uplink_port_speed %>
    <%= f.input :monitoring, collection: @monitoring %>
    <%= f.input :response, collection: @response %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, data: { confirm: '주문 사항을 한 번만 더 확인해 주시고 확인을 눌러주세요. 인스턴스 생성은 약 3분이 소요됩니다.' } %>
  </div>
<% end %>
