<p id="notice"><%= notice %></p>

<p>
  <strong>Template name:</strong>
  <%= @image.template_name %>
</p>

<p>
  <strong>Created date:</strong>
  <%= @image.created_date %>
</p>

<p>
  <strong>Account:</strong>
  <%= @image.account %>
</p>

<p>
  <strong>Template Id:</strong>
  <%= @image.templateid %>
</p>

<p>
  <strong>OS:</strong>
  <%= @image.os %>
</p>

<p>
  <strong>ProvisionScript:</strong>
  <%= @image.provision_script %>
</p>

<%= link_to 'Edit', edit_image_path(@image), class:'btn btn-default' %> |
<%= link_to 'Back', images_path, class:'btn btn-default' %>
<%= link_to 'Order', new_image_order_path(@image), class:'btn btn-default' %>
